[user]
        name = Térence Hollander
        email = terence.hollander@datadoghq.com

[url "git@github.com:DataDog/"]
        insteadOf = https://github.com/DataDog/

[core]
        hooksPath = /home/bits/.global_hooks
